
p, ul, span, label {
  font-size: 1em;
}

h1,
.alpha{
 font-size: 4.209rem !important;
 line-height: 1.2;
 color: #000;
 
}

h2,
.beta{
 font-size: 3.157rem !important;
 line-height: 1.2;
 color: #000;
}

h3,
.gamma{
 font-size: 1.75rem !important;
 line-height: 1.2;
 color: #000;
}

h4 {
 font-size: 1.52rem !important;
 line-height: 1.2;
 color: #000;
}

h5 {
  font-size: 1.35rem !important;
  line-height: 1.2;
  color: #000;
 }